body {
  background-color: #082032;
}

h1 {
  color: #FF4C29;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

th{
  border: 3px solid black;
  font-family: 'Open Sans', sans-serif;
  color: #FF4C29;
  font-size: large;
}

td {
  padding: 20px;
  border: 3px solid black;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #FF4C29;
}

.container {
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.center {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
}

.styled {
  position: relative;
  top: 40%;
  width: 100%;
  padding: 20px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 5px;
}



.btn {
  background:url(img/pccb.png);
  position: relative;
  border: none;
  color: white;
  width: 10%;
  padding: 40px 40px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
}

.btn:hover {
  position: relative;
  background:url(img/pcc.png);
  background-repeat: no-repeat;
  background-size: contain;
}